<div id="#backgroundCarousel" class="carousel slide" data-ride="carousel" data-pause="false">
  <div class="carousel-inner">
    <div class="carousel-item active" style="background-image: url('/styles/images/Party-Lights-Wallpaper-00469.jpg')">
    </div>
    <div class="carousel-item" style="background-image: url('/styles/images/ghostface.jpg')">
    </div>
    <div class="carousel-item" style="background-image: url('/styles/images/pickathon3_905-e1517428057629.jpg')">
    </div>
    <div class="carousel-item" style="background-image: url('/styles/images/country-concert.jpg')">
    </div>
  </div>
</div>