
{{>navbar/navbar logged-in=true chat=true}}



<div id="chat-container">
    <h2 id="chat-title">Chat Room</h2>
    <div id="chat"></div>
    <div id="users"></div>
    <div id="feedback"></div>
    <form id="send-message">
        <input id="message" type="text"></input>
        <button id="send">Send</button>
    </form>

    <form id="spotify-form" autocomplete="off">
        <input id="track-search" type="text" placeholder="Song" />
        <input id="artist-search" type="text" placeholder="Artist" />
        <button id="spotify-search">Search</button>
    </form>

            <div id="widget">
        {{!-- where the widget shows up --}}
            </div>
</div>

    




<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.dev.js"></script>

<script type="text/javascript" src="js/chatClient.js"></script>