{{>navbar/navbar logged-in=true profile=true}}

<div class="edit-grid-container">
    <div class="edit-form-container">
        <h2>Edit Your Profile</h2>
        <form class="edit-form">
            <button id="edit-submit">Submit</button>
            <div class="form-group grid-bio">
                <label for="bio">Bio</label>
                <input type="text" class="form-control" id="bio-input" placeholder="Bio">
            </div>
            <div class="form-group grid-img">
                <label for="profile-pic">Profile Picture URL</label>
                <input type="text" class="form-control" id="pic-input" placeholder="Paste an image url">
            </div>
            <div class="form-group grid-img">
                <label for="profile-pic">Favorite Album</label>
                <input type="text" class="form-control" id="album-input" placeholder="Type the name of your favorite album">
            </div>
            <div class="form-group grid-genres">
                <label for="profile-pic">Favorite Genres</label><br>
                <input class="genre-choice" type="checkbox" value="Classical">Classical<br>
                <input class="genre-choice" type="checkbox" value="Jazz">Jazz<br>
                <input class="genre-choice" type="checkbox" value="Country">Country<br>
                <input class="genre-choice" type="checkbox" value="Folk">Folk<br>
                <input class="genre-choice" type="checkbox" value="Bluegrass">Bluegrass<br>
                <input class="genre-choice" type="checkbox" value="Hip Hop">Hip Hop<br>
                <input class="genre-choice" type="checkbox" value="Pop">Pop<br>
                <input class="genre-choice" type="checkbox" value="Rock">Rock<br>
                <input class="genre-choice" type="checkbox" value="Metal">Metal<br>
                <input class="genre-choice" type="checkbox" value="EDM">EDM<br>
            </div>
        
        </form>
    </div> 
</div>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="js/edit.js"></script>