{{>navbar/navbar logged-in=true profile=true}}
{{#if owner}}<h1>You own this page!</h1>{{/if}}

        <h2 id="user-title" data-username="{{user.username}}">User Profile for: {{user.username}}</h2>

        <p id="bio">Bio: {{user.bio}}</p>
        {{#if owner}}
        <form id="edit-bio-form">
            <input id="edit-bio-textbox" type="text" placeholder="Tell us how you groove!">
            <button id="edit-bio-submit"></button>
        </form>
        {{/if}}

{{#if owner}}
        <h1>File Upload</h1>
    <p>{{msg}}</p>>
    <form action="/upload" method="POST" enctype="multipart/form-data">
      <div class="file-field input-field">
        <div class="btn grey">
          <span>File</span>
          <input name="myImage" type="file">
        </div>
        <div class="file-path-wrapper">
          <input class="file-path validate" type="text">
        </div>
      </div>
      <button type="submit" class="btn">Submit</button>
    </form>
    <br>
    <img id="profile-img" alt="Profile Image" src="">
{{/if}}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <script type="text/javascript" src="../js/profile.js"></script>
