* {
    box-sizing: border-box;
}
body, html {
    position: fixed;
    width: 100%;
    color: white;
    background-color: #4d4d4d;
    background-image: url(/styles/images/footer_lodyas.png);
    box-sizing: border-box;
    font-family: 'Gruppo', cursive;
    font-size: 1.25em;
    height: 100vh;
    max-height: 100vh;
}
@media screen and (max-width: 500px) {
    body, html {
        position: relative;
        height: initial;
        max-height: initial;
        overflow: scroll;
    }
}
.carousel {
    position: absolute !important;
    height: calc(100vh - 63px) !important;
    width: 100%;
    min-width: 320px;
    min-height: 400px;
    max-width: 100%;
}
.carousel-item {
    height:100vh;
    min-height: 300px;
    background: no-repeat center center scroll;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
}
.navbar {
    padding-top: 0;
    padding-bottom: 0;
}
.navbar-brand {
    font-size: 1.5em;
    font-family: 'Gruppo', cursive;
    margin-bottom: 0;
}
@media screen and (max-width: 400px) {
    .navbar-brand {font-size: 1em;}
}
.navbar-item {
    border: 1px solid #fff;
}
.grid-container {
    position: fixed;
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-rows: 3fr 2fr 1fr;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: 
    ". . banner"
    "form-container form-container form-container"
    ". . ."
}
.banner {
    grid-area: banner;
    width: 525px;
    font-family: 'Cabin Sketch', cursive;
    font-size: 3em;
    transform: rotate(15deg);
    place-self: center;
    background: #343a40;
    border-radius: 20px;
    border: 8px double;
    text-align: center;
    padding: 10px;
}
@media screen and (max-width: 500px) {
    .grid-container{ grid-template-areas: "banner banner banner" ". form-container .";}
    .banner {font-size: 2em; transform: rotate(0deg);
    }
}
.form-container {
    grid-area: form-container;
    min-width: 320px;
    padding: 0 10px 10px 10px;
    place-self: center;
    background: #343a40;
    border-radius: 20px;
    opacity: 0.9;
    text-align: center;
}
a {
    color: white;
    text-decoration: underline;
}
.signup {
    display: grid;
    grid-template-columns: 1fr 4fr 4fr 1fr;
    grid-column-gap: 10px;
    grid-template-areas: 
    "username username email email"
    "password password password2 password2"
    ". submit submit .";
}
.grid-username {grid-area: username;} 
.grid-email {grid-area: email;}
.grid-password {grid-area: password;}
.grid-password2 {grid-area: password2;}
.grid-submit {grid-area: submit;}

#wrapper {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 4fr 4fr;
  grid-template-areas:
  "proPic title widget"
  "proPic bio widget"
  "favs favs favs";
  /* background-color: #343a40; */
}
@media screen and (max-width: 650px) {
    #wrapper { 
        grid-template-areas: 
        "title"
        "proPic"
        "bio"
        "widget"
        "favs";
        grid-template-columns: 1fr; 
        grid-template-rows: 1fr;
    }
}

#bio{
  width: 100%;
  grid-area: bio;
  padding: 1em;
}
#edit-profile {
    grid-area: bio;
    align-self: end;
}
.modal-content {
    background-color: #343a40;
}
#user-title{
  grid-area: title;
  align-self: center;
  margin-bottom: 0;
  justify-self: center;
}

#proPic{
    grid-area: proPic;
    vertical-align: middle;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    place-self: center;
    z-index: 1;
}

#proPic:hover {
    -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 4s linear infinite;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
#turntable{
    grid-area: proPic;
    background-size: cover;
    background-image: url(/styles/images/turntable.jpg);
}

#profileWidget {
    grid-area: widget;
    background-color: dimgray;
    background-image: url(/styles/images/audio-cassette-cassette-tape-1626481.jpg);
    background-size: cover;
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
    height: auto;
}
#profileWidget iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* #favs {
  grid-area: favs;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 1fr 1fr 1fr;
  overflow: scroll;
  grid-gap: 15px;
  max-height: 100%;
} */
#favs {
    grid-area: favs;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    min-height: 100px;
}


#favs a {
    flex: 0 0 auto;
    width: 300px;
    /* display: inline-block; */
    border: rgb(43, 40, 43) solid 2px;
    margin-bottom: 0;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    background-size: cover;
    background-position: center;
}
#favs a:hover{
    transition: all 0.8s ease;
    -webkit-filter: grayscale(0%); /* Chrome, Safari, Opera */
    filter: grayscale(0%);
 }

a:link {color: white;}
a:visited {color: white;}
a:hover {color: white;}
a:active {color: white;}

#Classical {background-image: url(/styles/images/classic.jpg)}
#Jazz {background-image: url(/styles/images/jazz.jpg)}
#Country {background-image: url(/styles/images/country.jpg); background-position: left;}
#Folk {background-image: url(/styles/images/folk.jpg)}
#Bluegrass {background-image: url(/styles/images/bluegrass.jpg)}
#Hip-Hop {background-image: url(/styles/images/hiphop.jpg)}
#Pop {background-image: url(/styles/images/pop.jpg)}
#Rock {background-image: url(/styles/images/rock.jpg)}
#Metal {background-image: url(/styles/images/metal.jpg)}
#EDM {background-image: url(/styles/images/EDM.jpg)}
#Reggae {background-image: url(/styles/images/reggae.jpg)}
#Latin {background-image: url(/styles/images/latin.jpg)}

#chat-container {
    height: 100%;
    display: grid;
    color: #fff;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 400px 1fr 2fr;
    grid-template-areas:
    "title title"
    "chat users"
    "input spotify"
    "widget widget";
}
@media screen and (max-width: 500px) {
    #chat-container {
        grid-template-rows: 300px;
        grid-template-areas:
        "chat chat"
        "input input"
        "spotify spotify"
        "widget widget";
    }
    #feedback {display: none;}
    #chat-title {display: none;}
    #users {display: none;}
}
#chat-title{grid-area: title}
#chat {
    grid-area: chat;
    max-height: 400px;
    overflow: scroll !important;
    border: 1px solid black !important;
    background-size: cover;
    /* background-image: url(images/connectwork.png) */

}
#users {
    grid-area: users;
    background-size: cover;
    background-image: url(images/abstract-architecture-building-exterior-593158.jpg)
}
#feedback {
    grid-area: users;
    align-self: end;
}
#send-message {
    grid-area: input;
    display: flex;
    justify-content: flex-end;
}
#message {
    width: 100%;
    border: 2px solid;
}
#spotify-form {
    grid-area: spotify;
    display: flex;
}
#track-search {
    width: 40%;
    border: 2px solid; border-left: 0;
}
#artist-search {
    width: 40%;
    border: 2px solid; border-left: 0;
}
#widget {
    grid-area: widget;
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
    height: auto;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    background-image: url(images/audio-cassette-cassette-tape-1626481.jpg);
    background-size: cover;
    background-position: bottom; 
}
#widget iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
#send { background-color: #2ECC40; border: 2px solid; border-left: 0;}
#spotify-search{ background-color: #2ECC40; border: 2px solid; border-left: 0;}
.message-card {
    display: flex;
    width: 100%;
    background-color: gray !important;
    border-radius: 5px;
    border: 1px solid;
    justify-content: flex-start;
    background-color: gray;
    align-items: baseline;
    margin-bottom: 5px;
}

.message-card p {
    margin: 0 !important;
    margin-bottom: 0 !important;
    border-radius: 5px;
    background-color: gray;
    opacity: 80%;
    text-decoration: none;
}

#chat a {
    margin: 0;
    border-radius: 5px;
    background-color: gray;
    opacity: 80%;
}

#chat a img {
    margin: 0 6px 0 6px;
    max-width: 60px;
    border-radius: 50%;
}

#users a {
    width: 100%;
    background-color: darkslateblue;
    display: block;
    border: 1px solid;
    border-radius: 5px;
    padding-left: .5em;
}
}



 /* 
  .list-group-item {
    line-height: 2.5;
  }
  .img-thumbnail {
    width: 200px;
    height: 250px;
    border-radius: 0rem; */
    /* display: inline-block; */
  /* }
  .main {
   
    width: 950px;
    padding: 50px 20px;
    background-color: gray;
    margin: 0 auto; */
    /* display: flex; */
    /* flex-wrap: wrap; */
    /* justify-content: space-between;
    flex-direction: row; */
    /* margin-top: 50px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  
  .bio {
    width: 350px;
    max-width: 100%;
    padding: 20px;
    background-color: white;
    -moz-box-shadow: inset 0 3px 8px rgba(0,0,0,.4);
     -webkit-box-shadow: inset 0 3px 8px rgba(0,0,0,.4);
     box-shadow: inset 0 3px 8px rgba(0,0,0,.24);
   
  }
  .favorites {
    width: 400px;
    max-width: 100%;
    padding: 20px;
    background-color: white;
    justify-content: center;
    display: flex;
    -moz-box-shadow: inset 0 3px 8px rgba(0,0,0,.4);
    -webkit-box-shadow: inset 0 3px 8px rgba(0,0,0,.4);
    box-shadow: inset 0 3px 8px rgba(0,0,0,.24);
  }
  .genre {
    width: 20%;
    max-width: 100%;
    padding: 15px;
    background-color: white;
    display: inline-block;
    height: 200px;
    border-radius: 10px;
  } */
  
  /* .main-genre {
    margin: 0 auto;
    height: 300px;
    width: 950px;
    padding: 20px;
    background-color: gray;
    overflow: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  } */
  /* .inset {
    margin: 0 auto;
    height: 250px;
    width: 850px;
    padding: 20px;
    background-color: rgb(187, 187, 187);
    overflow: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  } */
  /* .inset-top {
    margin: 0 auto; */
    /* height: 300px; */
    /* width: 850px;
    padding: 40px;
    background-color: rgb(187, 187, 187); */
    /* overflow: auto; */
    /* display: flex;
    flex-wrap: wrap; */
    /* justify-content: center; */
    /* flex-direction: row; */
    /* justify-content: space-between;
    overflow: auto
  }
  div.container.whole {
    height: 100%;
    width: 950px;
    padding: 20px;
    background-color: gray;
  } */
  /* .nav-item {
    background: rgb(211, 209, 209);
  border-right: 2px solid white
  }
  .nav-item:hover {
    background: rgb(134, 133, 133);
  } */
  /* .top {
    background-image: url("../styles/images/black-and-white-gray-grey-1050305.jpg");
    background-position: center; 
    background-repeat: repeat; 
    background-size: cover;
    height: 100px;
    margin-bottom: 0;
    color: white;
  } */
  /* #chat-row {
    background-image: url("../styles/images/black-and-white-gray-grey-1050305.jpg");
    background-position: center; 
    background-repeat: repeat; 
    background-size: cover;
  } */
  /* .nav-tabs:hover a.nav-item.nav-link:hover {
    border: 5px solid transparent;
    
  } */
  
  /* a.nav-link {
    color: white;
    font-weight: 900;
    font-family: 'Gruppo', cursive;
  }
  button {
    color: white;
    font-weight: 900;
    font-family: 'Gruppo', cursive;
    background: rgb(211, 209, 209);
  }
  button:hover {
    background: rgb(134, 133, 133);
    border-color: rgb(134, 133, 133);
  } */
  /* .jumbotron {
    background-image: url("../styles/images/audio-cassette-cassette-tape-1626481.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color:black;
    height: 300px;
    border-top: 2px solid white;
    opacity: 0.75;
    filter: alpha(opacity=50);
    z-index: 100;
    border-bottom: 5px solid white;
  }
  #top {
    opacity: 1;
    filter: alpha(opacity=100); 
    font-family: 'Cabin Sketch', cursive;
    
    color: white;
   
  } */
  /* .display-4 {
    font-size: 4.0rem;
    font-weight: 300; 
    text-align: center;
    
  }
  hr.my-4 {
    border-top: 3px double white;
  }
  .title {
    color: white;
    font-family: 'Gruppo', cursive;
    margin: 0 auto;
    font-weight: 500; 
    padding: 10px;
    text-align: center
  } */
  /* .bio-title {
    color: white;
    font-family: 'Gruppo', cursive;
    font-weight: 500;
    text-align: center;
    padding: 10px;
    background-color: gray;
  }
  /* .record {
    background-image: url("../styles/images/1200px-12in-Vinyl-LP-Record-Angle.jpg");
    width: 100px;
    height: 100px;
    background-size: cover;
    background-position: center; Center the image */
    /* background-repeat: repeat;
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(5px 5px 5px #222);
    margin: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  } */
  .record:hover {
    width: 200px;
    height: 200px;
    transition: all 0.5s ease;
    font-size: 5.0rem;
  }
  p.name:hover {
    font-size: 5.0rem;
  }
  p.name {
    color: white;
    font-family: 'Gruppo', cursive;
    font-weight: bold;
    text-align: center;
    font-size: 2.5rem;
    
    text-shadow:
        3px 3px 0 #000,
      -1px -1px 0 #000,  
       1px -1px 0 #000,
       -1px 1px 0 #000,
        1px 1px 0 #000;
  } */

  /* a.navbar-brand {
    font-family: 'Gruppo', cursive;
    font-weight: 300; 
  }
  nav.navbar.navbar-expand-lg {
    border-bottom: solid white 2px;
  } */
  /* .member {
    font-family: 'Gruppo', cursive;
    font-weight: 300; 
  } */
  /* For mobile phones: */
  /* @media screen and (max-width: 600px) {
    .col, body {
      width: 100%;
    }
    .inset-top {
      display: flex;
      flex-direction: column;
      
      justify-content: center;
    }
  }
.chat-title {
  font-family: 'Gruppo', cursive;
    font-weight: 300; 
}
#chat {
 background-image: url("../styles/images/backgroundedit.jpg");
 
}
#users {
  background-color: rgb(212, 211, 211);
}
#feedback {
  background-image: url("../styles/images/background.jpg");
 
}
#chat-row {
  border-bottom: solid white 2px;
}
h1.display-4 {
  font-family: 'Cabin Sketch', cursive;
  color: white;
} */

